.navigationItem {
  min-height: 36px;
  min-width: 36px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 8px;
}

.navigationItem:last-of-type {
  margin-bottom: 0;
}

.navigationItem__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  /* background-color: transparent; */
  border-radius: 4px;
  border: none;
  /* height: 36px; */
  /* min-width: 36px; */
  text-decoration: none;
  outline: none;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  /* color: #a1a1aa; */

  position: relative;
}

.navigationItem__link:hover, :focus {
  background-color: #3f3f46;
  color: #ffffff;
  font-weight: 600;
}

.navigationItem__link_light:hover {
  background-color: #ede9fe;
  color: #7c3aed;
  font-weight: 600;
}

.navigationItem__link_light:focus {
  background-color: #ede9fe;
  color: #7c3aed;
  font-weight: 600;
}

.navigationItem__link > * {
  margin-right: 8px;
}

.navigationItem__link > *:last-child {
  margin-right: 0px;
}

.navigationItem__img {
  
}

.navigationItem__span {

}

.navigationItem__badge {
  background-color: #8b5cf6;
  border-radius: 10px;
  padding: 0px 5px;
  margin-left: auto;
  color: white;
  font-size: 10px;
  min-width: 10px;
  text-align: center;
}

.navigationItem__miniBadge {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #8b5cf6;
  border-radius: 50%;
}