.sideBarMenu {
  /* padding: 24px; */
  max-width: 342px;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  background-color: #18181b;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: width 0.5s linear 0s;
}

.sideBarMenu_light {
  background-color: #ffffff;
}

.sideBarMenuClose {
  width: 84px;
}

.sideBarMenu__burger {
  background-color: #27272a;
  padding: 24px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.sideBarMenu__burger_light {
  background-color: #f9fafb;
}

.sideBarMenu__burgerButton {
  border: none;
  padding: 0;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  stroke: #71717a;
}

.sideBarMenu__burgerButton:hover, :focus {
  background-color: #3f3f46;
  stroke: #ffffff;
}

.sideBarMenu__burgerButton_light:hover {
  background-color: #ede9fe;
  stroke: #7c3aed;
}

.sideBarMenu__burgerButton_light:focus {
  background-color: #ede9fe;
  stroke: #7c3aed;
}

.sideBarMenu__burgerImg {
  vertical-align: bottom;
  width: 36px;
  height: 36px;
}

.sideBarMenu__logoImg {
  margin-left: 16px;
}

.sideBarMenu__logoImg_light {
  fill: #18181b
}

.sideBarMenu__searchWrapper {
  padding: 32px 24px 8px;
}

.sideBarMenu__optionList {
  padding: 8px 24px;
  margin: 0;
  list-style: none;
  color: #a1a1aa;
}

.sideBarMenu__optionList_light {
  color: #52525b;
}

.sideBarMenu__divider {
  background-color: #27272a;
  margin: 32px 24px;
  height: 1px;
  border: none;
  flex-shrink: 0;
}