.sideBarMenu {
  /* padding: 24px; */
  max-width: 342px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  background-color: #18181b;
}

.sideBarMenu__burger {
  background-color: #27272a;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

}

.sideBarMenu__burgerButton {
  border: none;
  padding: 0;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.sideBarMenu__burgerButton:hover, :focus {
  background-color: #3f3f46;
}

.sideBarMenu__burgerImg {
  vertical-align: bottom;
  width: 36px;
  height: 36px;
}

.sideBarMenu__logoImg {
  margin-left: 16px;
}

.sideBarMenu__searchWrapper {
  padding: 32px 24px 8px;
  background-color: #18181B;
}

.sideBarMenu__optionList {
  background-color: #18181b;
  padding: 8px 24px;
  margin: 0;
  list-style: none;
}

.sideBarMenu__divider {
  background-color: #27272a;
  margin: 32px 24px;
  height: 1px;
  border: none;
}